#container{
    background-color:orange;
    height: 200px;
    width:300px
}
#Frect{
    background-color: rgb(4, 61, 65);
    height:80px;
    width:110px;
}
#Srect{
    background-color: rgb(4, 61, 65);
    height:80px;
    width:110px;
    position:relative;
    left:190px;
}
#Trect{
    background-color: rgb(4, 61, 65);
    height:80px;
    width:110px;
    position: relative;
    top:120px;

}
#FOrect{
    background-color: rgb(4, 61, 65);
    height:80px;
    width:110px;
    position: relative;
    right:190px;
    
}

