h1{
    background-color: orangered;
    height:200px;
    width:200px;

   /* border-width: 15px;
    border-style: dashed;
    border-color:black;*/

    border-top:10px solid black;
    padding:10px 30px 40px 50px;
    border-top: 10px solid black;
    border-radius: 20px;
}
/* /padding,margin,border -> top,right,below,left */
h2{
    background-color: yellow;
    border:10px dashed rgba(151, 15, 15, 0.491);
    margin: 50;
}
p{
    background-color: greenyellow;
    padding:20px;
    border: 12px solid black;
}